#iss-index {
  // index-jumbotron
  .index-jumbotron .index-jumbotron-wrapper {
    padding-top: 20px;

    .main {
      .left {
        font-size: 18px;
  
        .intro {
          margin-top: 30px;
  
          ul li {
            margin-bottom: 20px;
          }
        }      
      }
  
      .right {
        .youtube-wrapper {
          width: 100%;
        }
  
        .youtube {
          margin-top: 30px;
          float: right;
        }
      }
    }
  }

  // index-modules
  .index-modules {
    margin-top: 70px;

    .modules-card {
      padding-bottom: 40px;
      margin-bottom: -200px;

      .card-title {
        text-align: center;
        font-size: 30px;
        color: $main-text-color;
        font-weight: bold;
        margin-top: 20px;
      }

      .card-row {
        margin-top: 40px;

        .card-item {
          .item-img {
            transition: all .5s ease;

            img {
              display: block;
              width: 150px;
              margin: auto;
            }

            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }
          }

          .item-desc {
            text-align: center;
            margin-top: 30px;
            font-size: 18px;
            color: $regular-text-color;
          }
        }
      }
    }
  }

  // modules wrapper
  .modules-wrapper  {
    height: 300px;
    background-color: $iss-main-color;
  }

  // news-and-events-section
  .news-and-events-section {
    height: 300px;
    background-color: $iss-main-color;

    .main {
      background-color: $iss-main-color;
      padding-bottom: 80px;

      .news-title {
        background-color: $iss-main-color;
        color: white;
        font-weight: bold;
        font-size: 30px;
        margin: 0;
      }

      .news-card-col {
        background-color: $iss-main-color;

        .el-card {
          border: 0px;
        }

        .card-item {
          margin-top: 30px;

          .title {
            font-size: 18px;
          }

          .time {
            font-size: 13px;
            color: #999;
            line-height: 13px;
          }
          
          .bottom {
            margin-top: 13px;
            line-height: 12px;
          }
        
          .button {
            padding: 0;
            float: right;
          }
        
          .image {
            // width: 100%;
            height: 250px;
            display: block;
            margin: auto;
          }

          .digest {
            height: 40px;
            max-height: 40px;
            line-height: 20px;
            margin-bottom: 15px;
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : pre-wrap;
            
            /* 取特定行數 */
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        
          .clearfix:before,
          .clearfix:after {
              display: table;
              content: "";
          }
          
          .clearfix:after {
              clear: both
          }
        }
      }

      .more {
        color: white;
        width: 100%;
        overflow:auto;
        background-color: $iss-main-color;

        .text {
          color: white;
          background-color: $iss-main-color;
          float: right;
          margin-top: 13px; 
        }
      }
    }
  }
    
}